@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* @font-face {
	font-family: 'C64 Pro Mono';
	src: url(./fonts/C64_Pro_Mono-STYLE.ttf), url(./fonts/C64_Pro_Mono-STYLE.otf),
		url(./fonts/C64_Pro_Mono-STYLE.woff2), url(./fonts/C64_Pro_Mono-STYLE.woff);
} */

$primary-font-family: Verdana, Geneva, Tahoma, sans-serif;
$primary-font-size: 14px;

$secondary-font-family: 'Coiny', cursive;

$tertiary-font-family: 'VT323', mono;
